body {
  border-radius: 10px;  
  background-color: rgba(144, 103, 78, 0.782)
  }
  
  * {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
  }
  
  p {
    display: inline-block;
  }
  
  li {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: rgba(225, 199, 199, 0.89);
  }
  
  h1 {
    color: #caa9ae;
    text-align: center;
  }

  p {
    color: antiquewhite;
    text-indent: 2em;
  }
  
/*顶导航栏*/

.topnav {
  position: fixed;
  display: block;
  width: 100%;
  height: 42px;
  border: 1px solid rgba(250, 240, 240, 0);
  border-radius: 15px 15px 0 0;
  background-color: rgba(52, 51, 51, 0.496);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.navbar-brand {
  display: inline-block;
  width: 80px;
  height: auto;
  margin-top: 3px;
  margin-left: 12px;
  border: 1px solid rgba(250, 240, 240, 0);
  font-size: 25px;
}







  /*圈圈头*/

  .leftsss {
    display: block;
    width: 150px;
    height: 40px;
    margin: 3px;
    position: relative;
    text-indent: 0em;
    text-align: center;
  }

  .head {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid rgba(152, 152, 152, 0.575);
    border-radius: 50%;
    margin: 5px 0 0 0;
    padding: 0;
    background-color: #FFB6C1;
    background-image: url(../picture/1.png);
    background-size: 225%;
    background-position: 56% 3%;
    font-size: 80px;
    transition: all 0.5s ease 0.1s;
  } 
  
  .head:hover{
    transform: rotate(360deg);
  }
  
  

/*左导航栏*/

  .left {
    display: block;
    position: fixed;
    width: 160px;
    height: auto;
    padding: 0;
    top: 44px;
    border: 1px solid rgba(226, 226, 226, 0);
    background-color: rgba(78, 39, 39, 0.405);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
    border-radius: 0 0 3px 3px;
    text-align: center;
  }

  .lnav {
    display: block;
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    background-color: rgba(188, 199, 209, 0);
    border-radius: 3px;
    
  }
  .lnav ul li {
    display: block;
    width: 150px;
    height: 30px;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(246, 246, 246, 0);
    text-align: left;
    text-indent: 1em;
    line-height: 30px;
    transition: all 0.5s ease 0.1s;
  }

  .lnav ul li:hover{
    background-color: rgba(255, 255, 255, 0.548);

  }

  .firstli {
    display: block;
    width: 95%;
    border-top: 0.5px solid #fefefe77;
  }
  
  .lnav .nana {
    display: block;
    width: 120px;
    height: 40px;
    padding: 8px 1px;
    margin-bottom: 10px;
    margin-top: 110px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgba(75, 55, 55, 0.564);
    color: rgba(0, 0, 0, 0.607);
    text-align: center;
    line-height: 40px;
    text-indent: 0em;
  }
  
  .n_lnav {
    position: fixed;
    height: auto;
    bottom: 0;
  }

  .left .motto {
    display: block;
    position: absolute;  
    width: 80px;
    height: 60px;
    padding: 8px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgba(85, 50, 50, 0.573);
    color: rgb(47, 47, 47);
    text-indent: 0;
    bottom: 0;
  }
  


  /*nana_main*/
  .nana_main{
    display: block;
    position: absolute;
    width: 800px;
    height: 900px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
    background-color: rgba(199, 179, 179, 0.259);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
  }



  /* l0l */

  .nana_main ul li {
    display: block;
    float: left;
    width: auto;
    height: auto;
    margin: 30px 0 0 120px;
    border: rgba(247, 247, 247, 0.235);
    border-radius: 3px;
    background-color: rgba(220, 214, 214, 0.376);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
    font-size: 16px;
    transition: all 0.5s ease 0.1s;
  }
  .nana_main ul li:hover {
    transform: scale(1.1);
    background-color: rgba(245, 245, 220, 0.445);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
  }
  
  .nana_main ul li div {
    display: block;
    float: left;
    width: 120px;
    height: 120px;
    padding: 5px;
    border-radius: 3px;
    background-color: #ffb6c160;
    background-image: url(../picture/1.png);
    background-size: 400%;
    background-position: 0% 0%;
    transition: all 0.5s ease 0.1s;
    text-indent: 2em;
  }

  .nana_main ul li p {
    display: block;
    float: left;
    width: 360px;
    height: 110px;
    padding: 10px;
    border-left: solid 2px white;
    color: aliceblue;
    text-align: center;
    text-indent: 2em;
  }
