body {
  display: block;
  min-width: 648px;
  border-radius: 10px;  
  background-color: rgba(6, 0, 0, 0.856);
  caret-color: rgba(0,0,0,0);
  user-select: none;
  background-image: url(https://t.mwm.moe/ycy);
  background-size: 250%;
  background-repeat: no-repeat;
  background-attachment:fixed
  }
  
  * {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
  }
  
  p {
    display: inline-block;
    user-select: text;
  }
  
  li {
    list-style: none;
  }

  a {
    display: block;
    text-decoration: none;
    color: rgba(225, 199, 199, 0.89);
  }
  
  h1 {
    color: #caa9ae;
    text-align: center;
  }

  p {
    color: antiquewhite;
    text-indent: 2em;
  }

  .menu-icons {
    color: rgba(237, 237, 238, 0.645);
  }
  

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.left::-webkit-scrollbar {
  width: 2px;
  height: 0px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(236, 95, 95);
  border-radius: 3px;
}

.left::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgb(98, 3, 3);
  border-radius: 3px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(89, 88, 88, 0.4);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
}

.left::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgb(255, 205, 205);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
}

/* 非激活窗口 */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(89, 88, 88, 0.4);
}



  /*顶导航栏*/

.topnav {
  position: fixed;
  display: block;
  width: 100%;
  min-width: 648px;
  height: 45px;
  margin-left: 0px;
  border: 1px solid rgba(250, 240, 240, 0);
  background-color: rgba(70, 69, 69, 0.496);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  transition: all 0.5s ease 0.1s;
}

.navbar-brand {
  position: absolute;
  display: block;
  float: left;
  width: auto;
  height: auto;
  margin-top: 3px;
  margin-left: 12px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 1px solid rgba(250, 240, 240, 0);
  font-size: 25px;
}

.sidebar {
  display: block;
  float: left;
  width: 45px;
  height: auto;
  padding: 15px 0px 5px 20px;
  background-color: #caa9ae00;
  color: rgb(102, 70, 60);
  cursor: pointer;
}





  /*圈圈头*/

  .leftsss {
    display: block;
    width: 150px;
    height: 40px;
    margin: 3px;
    position: relative;
    text-indent: 0em;
    text-align: center;
  }

  .head {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid rgba(152, 152, 152, 0.575);
    border-radius: 50%;
    margin: 5px 0 0 0;
    padding: 0;
    background-color: #FFB6C1;
    background-image: url(../picture/1.png);
    background-size: 225%;
    background-position: 56% 3%;
    font-size: 80px;
    transition: all 0.5s ease 0.1s;
  } 
  
  .head:hover{
    transform: rotate(360deg);
  }
  
  

/*左导航栏*/

  .left {
    display: block;
    position: fixed;
    width: 0;
    height: 100%;
    padding: 0;
    top: 0px;
    border: 1px solid rgba(226, 226, 226, 0);
    background-color: rgba(70, 69, 69, 0.496);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
    border-right: rgba(159, 63, 63, 0.357) solid 0.5px;
    border-radius: 3px 0 3px 3px;
    text-align: center;
    overflow-y: auto;
    transition: all 0.5s ease 0.1s;
    z-index: -1;
  }


  .decorate {
    display: block;
    width: 150px;
    height: 34px;
    padding: 5px 0px 5px 0px;
    margin-top: 25px;
    background-color: #caa9ae00;
    color: rgb(102, 70, 60);
    font-size: 20px;
    cursor: auto;
  }

  .lnav {
    display: block;
    float: left;
    width: auto;
    height: auto;
    padding: 0;
    background-color: rgba(188, 199, 209, 0);
    border-radius: 3px;
    
  }
  .lnav ul li {
    display: block;
    width: 150px;
    height: 30px;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(246, 246, 246, 0);
    text-align: left;
    text-indent: 1em;
    line-height: 30px;
    transition: all 0.5s ease 0.1s;
  }

  .lnav ul li:hover{
    background-color: rgba(255, 255, 255, 0.548);

  }

  .firstli {
    display: block;
    width: 95%;
    border-top: 0.5px solid #fefefe77;
  }
  
  .lnav .nana {
    display: block;
    width: 120px;
    height: 40px;
    padding: 8px 1px;
    margin-bottom: 10px;
    margin-top: 110px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgba(75, 55, 55, 0.564);
    color: rgba(0, 0, 0, 0.607);
    text-align: center;
    line-height: 40px;
    text-indent: 0em;
  }
  
  .n_lnav {
    position: fixed;
    height: auto;
    bottom: 0;
  }

  .left .motto {
    display: block;
    position: absolute;  
    width: 80px;
    height: 60px;
    padding: 8px;
    margin-top: 40px;
    border-radius: 10px;
    background-color: rgba(85, 50, 50, 0.573);
    color: rgb(47, 47, 47);
    text-indent: 0;
    bottom: 0;
  }
  


  /*nana_main*/
  .nana_main{
    display: block;
    position: absolute;
    width: 80%;
    height: 160%;
    min-width: 648px;
    min-height: 100%;
    max-width: 900px;
    margin: 0 auto;
    margin-left: 0;
    padding-top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -20;
    background-color: rgba(199, 179, 179, 0.259);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
    transition: all 0.5s ease 0.1s;
  }



  /* l0l */

  .nana_main ul li {
    display: block;
    float: left;
    width: auto;
    height: auto;
    min-width: 200px;
    min-height: 90px;
    border-radius: 3px;
    margin: 20px 100px;
    margin-left: 20%;
    background-color: rgba(220, 214, 214, 0.376);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.062), 0 6px 20px 0 rgba(0, 0, 0, 0.062);
    font-size: 16px;
    transition: all 0.5s ease 0.1s;
  }
  .nana_main ul li:hover {
    transform: scale(1.1);
    background-color: rgba(245, 245, 220, 0.445);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .nana_main ul li div {
    display: block;
    float: left;
    width: 100%;
    height: 30px;
    border-left: solid 2px white;
    border-radius: 3px;
    background-color: #ffb6c160;
    background-image: url(../picture/1.png);
    background-size: 400%;
    background-position: 0% 0%;
    transition: all 0.5s ease 0.1s;
    text-indent: 2em;
  }

  .nana_main ul li p {
    display: block;
    float: left;
    width: auto;
    height: auto;
    padding: 10px;
    color: aliceblue;
    text-align: center;
    text-indent: 2em;
  }
