body {
  width: 40%;
  margin-left: 20%;
  background-color: rgba(157, 216, 212, 0.549);
}

* {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

p {
  display: inline-block;
}

li {
  list-style: none;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
.bgred {
  background-color: rgba(250, 0, 0,.3);
}

.bgpink {
  background-color: rgba(232, 107, 169, 0.354);
}

.bebebe {
  background-color: rgba(150,150,150,.7);
}

.oderm {
        position: fixed;
        bottom: 0;
        left: 0;
}

.brown {
  background-color: rgba(120,51,0,.7);
}

.black {
  background-color: rgba(0,0,0,.7);
}

.w {
  width: 500px;
  margin: auto;
  background-color: ghostwhite;
}



.head {
  display: inline-block;
  position: absolute;
  width: 120px;
  height: 120px;
  border: 1px solid black;
  border-radius: 50%;
  margin: 62.5px 0 0 0;
  padding: 0;
  background-color: #FFB6C1;
  background-image: url(../picture/1.png);
  background-size: 225%;
  background-position: 56% 3%;
  font-size: 80px;
  transition: all 0.5s ease 0.1s;
} 

.head:hover{
  transform: rotate(360deg);
}

.head h4 {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin: 10.5px 20.5px;
  text-align: center;
  color: rgba(124, 119, 119, 0.364);
}

.leftsss {
  display: inline-block;
  position: fixed;
  box-sizing: border-box;
  z-index: -2;
  top: 0%;
  left: 50%;
  margin-left: -500px;
  width: 125px;
  height: 300px;
  border-right: 1px solid black;
  border-left: 1px solid black;
  background-color: rgba(300, 300, 300, 0.344);
  box-shadow: 5px 5px 5px 3px rgba(0,0,0,.344);
  background-image: url(../picture/1.png);
  background-size: 933%;
  background-position: 1% -8%;
}

.rightme {
  display: inline-block;
  position: fixed;
  overflow: hidden;
  background-color: rgb(174, 226, 245);
  border-radius: 10px;
  width: 111px;
  height: 9px;
  top: 0;
  left: 50%;
  margin-left: -494px;
  transition: all 0.5s ease 0s;
  color: #ffffff;
}

.rightme::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(250, 83, 89, 0.842);
  transition: all 0.5s ease 0s;
  filter: blur(20px);
  z-index: -1;
}

.rightme:hover {
  width: 30%;
  height: 100%;
  top: 0;
  right: 1%;
  background-color: rgba(233, 132, 135, 0.723);

}


.sss {
  display: inline-block;
  width: 375px;
}

.topsss {
  display: inline-block;
  width: 375px;
  height: 125px;
  border-bottom: 1px solid black;
  padding-right: 0;
  background-color: rgba(300,300,300,0.84);
}
.topsss ul li {
  float: left;
  width: 125px;
  height: 125px;
  margin:  0;
  padding: 0;
}

.rightsss {
  display: inline-block;
  width: 250px;
  height: 1300px;
  margin-left: 62.5px;
  background-color: rgba(243,243,243,0.5);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;

}


.box {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 3px rgba(0,0,0,.344);
  width: 200px;
  height: 250px;
  display: inline-block;
  padding: 25px;
  margin-right: 10px;
  margin-top: 40px;
  
}

.s {
  text-indent: 2em;
  text-align: left;
}

